# version: '3.8' # obsolete

services:
  pricewebapi:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/arm64
    image: price-web-api:arm64
    # volumes:
      # - db-data:/app
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Production
    restart: unless-stopped