# version: '3.8' # obsolete

services:
  pricewebapi:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/arm64
    image: price-web-api:arm64
    volumes:
      - price-data:/data
      - certs:/app/certs:ro 

    ports:
      - "5080:5080"
      - "5081:5081"
    
    environment:
      - ASPNETCORE_URLS=https://+:5081;http://+:5080
      - ASPNETCORE_HTTPS_PORT=5081
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/certs/cloudflare-origin.pem
      - ASPNETCORE_Kestrel__Certificates__Default__KeyPath=/app/certs/cloudflare-origin.key
    restart: unless-stopped

volumes:
  price-data:
  certs:
    external: true