# version: '3.8' # obsolete

services:
  pricewebapi:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/arm64
    image: price-web-api:arm64
    volumes:
      - ./certs:/home/admin/certs:ro

    ports:
      - "8080:8080"
      - "8081:8081"
    
    environment:
      - ASPNETCORE_URLS=https://+:8081;http://+:8080
      - ASPNETCORE_HTTPS_PORT=8081
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_Kestrel__Certificates__Default__Path=./certs/cloudflare-origin.pem
      - ASPNETCORE_Kestrel__Certificates__Default__KeyPath=./certs/cloudflare-origin.key
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/certs/cloudflare.pfx

  
    restart: unless-stopped